.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

h1 {
    color: #fff;
    font-size: 26px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:30px;
    border-radius: 10px;
    background-color: #191818;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: #ffffff;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        font-size: 14px;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1.6px solid #c5c3c3;
        border-radius: 8px;
        background-color: transparent;
        padding: 8px 10px;
        color: #fff;
        
        

    }
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #191818;
    color: white;
    border-radius: 10px;
    padding: 10px;
    min-width: 386px;
    margin-bottom: 1rem;

    & p {
        color: #fff;
        font-weight: 500;

        & span {
            font-weight: normal;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.8
    }

    & button:hover {
        opacity: 0.25;
        transition: ease-in-out 0.2s;
    }
}